# Auto detect text files and perform LF normalization
* text=auto
database/transactions/neo4j/neostore.transaction.db.0 filter=lfs diff=lfs merge=lfs -text
database/transactions/system/neostore.transaction.db.0 filter=lfs diff=lfs merge=lfs -text
